{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}

{% block body %}

	<section class="container list">
		<div class="page-header">
			<div class="page-title">
				{% if uri.param('category') %}
					<h1>Category: {{ uri.param('category') }}</h1>
				{% else %}
					<h1>Posts</h1>
				{% endif %}
			</div>
		</div>
		<div class="page-content">
			{% for child in collection %}
			    {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
			{% endfor %}      
		</div>
	</section>

{% endblock %}